#main_body{
    padding-top: 250px;
}

#news_box{
    box-shadow:8px 8px 5px #888888; 
    background: rgba(255, 255, 255, 0.5);
}

#left_menu{
    box-shadow:8px 8px 5px #888888; 
    background: rgba(255, 255, 255, 0.5);
}
